<div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" translate>{{'Modifier cette technologie' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateTechnologyForm="ngForm">
          <!-- Title field -->
          <div class="form-group">
            <label for="lastname" class="required">{{'Titre' | translate}}</label>
            <input type="text" class="form-control" id="name-update" name="name-update" pattern="[a-zA-Z,.]{1}[a-z,A-Z,' ',0-9,.,#,+,-]{1,}"
              [(ngModel)]="technologyToEdit.title" required>
          </div>
          <!-- Description field -->
          <div class="form-group">
            <label for="firstname">{{'Description' | translate}}</label>
            <input type="text" class="form-control" id="description-update" name="description-update" [(ngModel)]="technologyToEdit.description"
              placeholder="">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- Close button -->
        <button type="button" id="exit-update-technology" class="btn btn-secondary" data-dismiss="modal">{{'Fermer' |
          translate}}</button>
        &nbsp;
        <!-- Update button -->
        <button type="button" id="submit-update-technology" class="btn btn-primary" data-dismiss="modal" (click)="updateTechnologies()"
          [disabled]="!updateTechnologyForm.valid">{{'Enregistrer' | translate}}</button>
      </div>
    </div>
  </div>
</div>