<div id="accordion">
  <div class="card border-secondary">
    <div class="card-header border-secondary" id="info">
      <!-- Advanced Search Section -->
      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-light btn-sm" data-toggle="collapse" data-target="#collapseInfo"><i
              class="fa fa-chevron-down" aria-hidden="true"></i> <strong>{{'Recherche avancée' | translate}}</strong></button>
        </div>
      </div>
    </div>
    <div id="collapseInfo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          <!-- Technologies List -->
          <div class="col-6">
            <i class="fa fa-align-center"></i>&nbsp;
            <label>{{'Liste des Technologies:' | translate}}</label>
            <ng-multiselect-dropdown id="quiz-by-user-technologies-multiselect-dropdown" class="form-select"
              [placeholder]="'Technologies'" [data]="dropdownListTechnologies" [(ngModel)]="selectedTechnologies"
              [settings]="dropdownSettingsTechnologies" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
          <!-- Degrees List -->
          <div class="col-6">
            <i class="fa fa-sliders"></i>&nbsp;
            <label>{{'Liste des Niveaux:' | translate}}</label>
            <ng-multiselect-dropdown id="quiz-by-user-degrees-multiselect-dropdown" class="form-select" [placeholder]="'Niveaux'"
              [data]="dropdownListDegrees" [(ngModel)]="selectedDegrees" [settings]="dropdownSettingsDegrees"
              (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <br>
        <!-- Advanced search button -->
        <div class="btn-search float-right">
          <button id="search-quiz-by-user-btn" type="button" class="btn btn-warning btn-adv-search" title="Filtrer"
            (click)="advancedSearch(selectedTechnologies,selectedDegrees,selectedNames,selectedActivities)">
            <i class="fa fa-search"></i> {{'Chercher' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- Number of elements select form -->
  <div class=" col-md-8">
    <div class="btn-group">
      <span class="label label-default" translate>Afficher</span>&nbsp;
      <button type="button" id="show-items-list-btn" class="btn dropdown-toggle btn-dropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{item}}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" id="five-items" (click)="getItems(5)">5</a>
        <a class="dropdown-item" id="ten-items" (click)="getItems(10)">10</a>
        <a class="dropdown-item" id="twenty-items" (click)="getItems(20)">20</a>
        <a class="dropdown-item" id="fifty-items" (click)="getItems(50)">50</a>
      </div>
      &nbsp;
      <span class="label label-default" translate>éléments</span>
    </div>
  </div>
  <!-- Search form -->
  <div class=" col-md-4 text-right">
    <div class="input-group search">
      <input type="text" id="search-quiz-by-user" class="form-control search" placeholder="{{'Recherche...' | translate}}"
        [(ngModel)]="searchInput" (input)="onSearch($event.target.value)">
    </div>
  </div>
</div>

<!-- My Quizzes list view (Table) -->
<div *ngIf="listView">
  <div class="table-responsive-lg">
    <table class="table table-bordered table-striped table-hover">
      <thead class="row-border hover">
        <tr>
          <th style="width: 18%;">{{'Titre' | translate}}</th>
          <th style="width: 40%;">{{'Description' | translate}}</th>
          <th style="width: 10%;">{{'Technologies' | translate}}</th>
          <th style="width: 10%;">{{'Niveau' | translate}}</th>
          <th style="width: 12%;" class="text-center">{{'Visibilité' | translate}}</th>
          <th style="width: 10%;" class="text-center">{{'Actions' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quiz of listQuizzes | paginate: { itemsPerPage: item, currentPage: p, totalItems: total, id:'idFirstListMyQuiz' }">
          <td>{{quiz.title}}</td>
          <td>{{quiz.description}}</td>
          <td>{{quiz.technology.title}}</td>
          <td>{{quiz.degree.title}}</td>
          <td class="text-center">
            <div *ngIf="quiz.shared == true">
              <span class="badge badge-success">{{'Visible' | translate}}
              </span>
              &nbsp;&nbsp;
              <label class="switch" *ngIf="quiz.shared == true">
                <input type="checkbox" checked (click)="changeSharedOfQCM(quiz.id,quiz.title)">
                <span class="slider round">
                </span>
              </label>
            </div>
            <div *ngIf="quiz.shared !== true">
              <span class="badge badge-secondary">{{'Non visible' | translate}}
              </span>
              &nbsp;&nbsp;
              <label class="switch" *ngIf="quiz.shared !== true">
                <input type="checkbox" (click)="changeSharedOfQCM(quiz.id,quiz.title)">
                <span class="slider round">
                </span>
              </label>
            </div>
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-detail" title="Afficher les questions de ce QCM" data-toggle="modal"
              data-target="#detailsmodal" (click)="openDetailsModal(quiz.id)"><i class="fa fa-align-justify"></i></button>&nbsp;
            <button type="button" class="btn btn-primary btn-circle" title="Modifier ce QCM" data-toggle="modal"
              data-target="#" (click)="updateQuiz(quiz.id)"><i class="fa fa-edit"></i></button>&nbsp;
            <button type="button" class="btn btn-danger btn-circle" title="Supprimer ce QCM" (click)="deleteQuiz(quiz.id)"><i
                class="fa fa-remove"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- No data in table message-->
    <div *ngIf="listQuizzes?.length==0">
      <div class="nodata-box">
        <div class="nodata-text" id="quiz-by-user-no-data-available">{{'Aucune donnée trouvée.' | translate}}</div>
      </div>
    </div>
    <!-- Pagination-->
    <div class="clearfix">
      <div class="hint-text">{{'Total' | translate}}: <b>{{total}}</b> {{'éléments' | translate}}</div>
      <div class="pagination justify-content-end">
        <nav class="Page navigation example">
          <pagination-controls id="idFirstListMyQuiz" (pageChange)="p=$event" (click)="onSelect(p)" previousLabel="{{'Précédente' | translate}}"
            nextLabel="{{'Suivante' | translate"></pagination-controls>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- My Quizzes grid view (Card) -->
<div *ngIf="!listView">
  <div class="card-list">
    <div class="row">
      <div class="col-lg-4" *ngFor="let quiz of listQuizzes | paginate: { itemsPerPage: item, currentPage: p, totalItems: total, id:'idSecondListMyQuiz'  }">
        <a class="card-box">
          <a class="card-title" data-toggle="modal" data-target="#detailsmodal" (click)="openDetailsModal(quiz.id)">
            <h2>{{quiz.title}}</h2>
            <div class="
            description">
            <p class="quiz-description">{{quiz.description}}</p>
      </div>
      <p>
        <label for="titre">{{'Technologie:' | translate}} </label>
        <label for="titre">
          &nbsp;{{quiz.technology.title}}&nbsp;
        </label><br><br>
        <label for="titre">{{'Niveau:' | translate}}</label> {{quiz.degree.title}} <br>
        <label for="titre">{{'Durée:' | translate}}</label> {{quiz.duration}}
      </p>
      <hr color="black" />
      <p>
        <label for="titre">{{'Créateur:' | translate}}</label> {{quiz.createdBy.firstName}} {{quiz.createdBy.lastName}}<br>
        <label for="titre">Date de création:</label> {{quiz.createdAt}}
      </p>
      </a>
      <div class="panel-footer">
        <button class="btn btn-link btn-desc" data-toggle="modal" data-target="#detailsmodal" (click)="openDetailsModal(quiz.id)">
          {{'Afficher le QCM' | translate}} <i class="fa fa-angle-right"></i>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-option  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="modal" data-target="#" title="Modifier ce QCM" (click)="updateQuiz(quiz.id)"><i
                class="fa fa-edit"></i> {{'Modifier' | translate}}</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#" title="Supprimer ce QCM" (click)="deleteQuiz(quiz.id)"><i
                class="fa fa-remove"></i> {{'Supprimer' | translate}}</a>
          </div>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>
<!-- No data in table message-->
<div *ngIf="listQuizzes?.length==0">
  <div class="nodata-box">
    <div class="nodata-text" id="quiz-by-user-no-data-available">{{'Aucune donnée trouvée.' | translate}}</div>
  </div>
</div>
<!-- Pagination-->
<div class="clearfix">
  <div class="hint-text">{{'Total' | translate}}: <b>{{total}}</b> {{'éléments' | translate}}</div>
  <div class="pagination justify-content-end">
    <nav class="Page navigation example">
      <pagination-controls id="idSecondListMyQuiz" (pageChange)="p=$event" (click)="onSelect(p)" previousLabel="{{'Précédente' | translate}}"
        nextLabel="{{'Suivante' | translate}}"></pagination-controls>
    </nav>
  </div>
</div>
</div>