<div class="col-lg-12">
    <h3>Guide d'utilisation</h3>
    <p>Bienvenue sur la plateforme de QCM d'ALTRAN,</p>
    <P>Lisez attentivement ce guide d'utilisation avant d'utiliser notre plateforme de QCM.</P>
    <P>Les tests que vous passerez seront des tests <span class="text-gras">multipages</span>
        comportant une à plusieurs questions par page.<br>
        Pour pouvoir naviguer à travers le test vous disposez de deux liens <span class="text-gras">suivant</span>
        et <span class="text-gras">précédent</span> vous menant respectivement vers la page
        suivante et
        la page précédente. Il y a aussi une liste de numéros de questions que voulez répondre. Le bouton vert indique
        que cette question est répondue.</P>
    <p>Aprés avoir répondu à toutes les questions vous pourrez valider votre réponse via le bouton
        d'envoi.</p>
    <label><strong>Important :</strong></label>
    <ul>
        <li>Valider votre envoie terminera le test.<span class="text-gras">Vérifiez que vous avez
                bien
                répondu à toutes les questions avant de valider vos réponses.</span> </li>
        <li>Les tests sont chronométrés.<span class="text-gras">A la fin du temps imparti le test
                sera
                terminé et vos réponses seront sauvegardées.</span></li>
        <li>Toute tentative de fraude est détectée. Si vous consultez des ressources externes d'informations plus qu'une
            fois, le test sera arrêtée.</li>
        <li>Certains tests ne peuvent être passé qu'une seule fois.<span class="text-gras"> Après
                le
                début d'un test ne rafraichissez jamais la page et ne quittez pas le test sans
                valider
            </span>.Sinon votre session sera fermée automatiquement sans validation de vos réponses
            et
            vous n'aurez
            pas la possibilité de repasser le test sans l'intervention d'un administrateur
            d'ALTRAN.</li>
    </ul>


    <p>Quand vous êtes authentifiés, les tests qui vous sont affecté sont sur la colonne de gauche
        de
        l'écran.<span class="text-gras"> Il suffit de cliquer sur "QCM" pour consulter la liste
            complète des quizzes que vous devez passer.</span></p>
    <br>
    <h5>Bonne chance !</h5>
    <br>
    <div class="buttons-prev-next text-center">
        <button type="button" class="btn btn-pass-quiz" routerLink="/candidate/quizzes-to-complete">Passer
            mes QCM</button>
    </div>
</div>