/*CSS Body*/
.col-lg-12 {
  padding: 15px;
}

.btn-pink {
  background-color: #FF4081;
  color: white;
}
.image-timer {
  padding-top: 20px;
}
.btn-pass-quiz {
  background: #0664CB;
  color: white;
  border-radius:23px;
}

/*End CSS Body*/


 