<div class="sidebar profile-card">
    <img src="../../../../assets/images/user-logo-candidate-sidebar.png" alt="user" class="profile-photo">
    <h5><a href="#" class="text-white"><strong>{{candidate.firstName}} {{candidate.lastName}}</strong></a></h5>
    <div class="mail text-center">
        <a class="text-white">{{candidate.email}}</a>
    </div>
    <br>
    <div class="links-list">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" routerLink="/candidate/rules"><i class="fa fa-exclamation-circle"></i>
                Règles</li>
            <li class="list-group-item" routerLink="/candidate/quizzes-to-complete"><i class="fa fa-list-alt"></i>
                Mes QCM</li>
            <li class="list-group-item" routerLink="/candidate/reclamation"><i class="fa fa-question-circle"></i>
                Aidez-moi</li>
        </ul>
    </div>
</div>