<form class="confidential information">
    <h2>Information confidentielle</h2>
    <!-- Password field -->
    <div class="form-group row">
        <label for="password" class="col-sm-3 col-form-label required">Mot de passe</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="loginUser.password">
        </div>
    </div>
    <!-- Update password button -->
    <div class="form-group row">
        <div class="col-sm-12">
            <input type="button" class="btn btn-warning btn-add float-sm-right" (click)="changeLoginUserPassword()"
                value="Enregistrer">
        </div>
    </div>
</form>