<div class="modal fade" id="detailsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <div class="row">
          <div class="col-md-12">
            <!-- Message subject -->
            <h5 class="modal-title" id="exampleModalLabel"><strong>{{'Objet:' | translate}}</strong>{{messageDetails.subject}}</h5>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <!-- Message body -->
        <span class="text-gras">{{'Message:' | translate}} </span>
        <h5>{{messageDetails.body}}</h5>
        <br>
        <br>
        <!-- Message details -->
        <p>
          <label><span class="text-gras">{{'De:' | translate}}</span> {{messageDetails.candidate.firstName}}
            {{messageDetails.candidate.lastName}}</label><br>
          <label><span class="text-gras">{{'Mail:' | translate}}</span> <span class="mail-link" (click)="mailTo(messageDetails.candidate.email)">{{messageDetails.candidate.email}}</span></label><br>
          <label><span class="text-gras">{{'Envoyé le:' | translate}}</span> {{messageDetails.createdAt}}</label>
        </p>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="exitModal()">{{'Fermer' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>